.body,
* {
  font-family: "Montserrat", serif;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  border: 2px solid red;
  position: relative;
}

.btn {
  border-radius: 50px;
}

.square {
  width: 76px;
  height: 76px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.main-text {
  font-size: 20px;
  font-weight: 500;
}

.feedback-tel {
  border-radius: 50px;
  color: #334155;
  width: 270px;
  height: 48px;
  font-size: 10px;
  font-weight: 600;
  padding-left: 24px;
}

.feedback-submit {
  width: 308px;
  height: 53px;
  border-radius: 50px;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: bottom;
  margin-left: 16px;
}

.user_agreement__checkbox {
  appearance: none;
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.user_agreement__a {
  width: 171px;
  font-size: 10px;
  margin-left: 13px;
  display: inline-block;
  vertical-align: bottom;
  transform: translate(20px, -30px);
  color: #fff;
}

.header__nav {
  margin-top: 56px;
}
.header__nav .header__logo {
  width: 192px;
}
.header__nav .header__menu {
  display: inline-block;
  border: 2px solid red;
  vertical-align: top;
  padding-left: 0;
}
.header__nav .header__li {
  display: inline-block;
  list-style: none;
  padding: none;
  text-decoration: none;
}
.header__nav .header__li a {
  text-decoration: none;
  font-size: 14px;
  color: #334155;
  font-weight: 600;
}
.header__nav .header__li:nth-child(1) {
  margin-right: 20px;
  margin-left: 243px;
}
.header__nav .header__li:nth-child(2) {
  margin-right: 15px;
}
.header__nav .header__li:nth-child(3) {
  margin-right: 16px;
}
.header__nav .header__li:nth-child(4),
.header__nav .header__li:nth-child(5) {
  margin-right: 19px;
}
.header__nav .header__li:nth-child(6) {
  margin-right: 195px;
}
.header__nav .btn--header {
  padding: 11px 12px 14px 12px;
  background-color: #8081BD;
  vertical-align: 20px;
}
.header__nav .btn--header a {
  color: #fff;
}

.header__data {
  border: 2px solid red;
}

.header__square-img {
  display: inline-block;
}
.header__square-img img {
  transform: translate(15px, 10px);
}
.header__square-img .square {
  margin-bottom: 25px;
}
.header__square-img .square:last-child {
  margin-bottom: 0;
}
.header__square-img .square-1 {
  background-color: #F6B31F;
}
.header__square-img .square-2 {
  background-color: #8081BD;
}
.header__square-img .square-3 {
  background-color: #F3ACC8;
}
.header__square-img .square-4 {
  background-color: #F3ACC8;
}
.header__square-img .square-5 {
  background-color: #F6B31F;
}
.header__square-img .square-6 {
  background-color: #8081BD;
}
.header__square-img .square-7 {
  background-color: #8081BD;
}
.header__square-img .square-8 {
  background-color: #F3ACC8;
}
.header__square-img .square-9 {
  background-color: #F6B31F;
}

.header__block--info {
  width: 460px;
  display: inline-block;
  vertical-align: top;
  margin-top: 144px;
}
.header__block--info:last-child p:last-child {
  transform: translateY(-50px);
}
.header__block--info:last-child p:nth-child(2) {
  transform: translateY(-30px);
}
.header__block--info .overview {
  display: inline-block;
  width: 364px;
  height: 278px;
  font-size: 16px;
  vertical-align: top;
}
.header__block--info .overview p {
  margin-bottom: 81px;
  margin-left: 20px;
  margin-top: 23px;
}
.header__block--info .overview p:last-child {
  margin-bottom: 0;
}

.feedback {
  margin-top: 116px;
  background-color: #8081BD;
}

.feedback__form-feedback {
  width: 700px;
}
.feedback__form-feedback .feedback-submit {
  background-color: #F6B31F;
}

.feedback__title {
  color: #fff;
  margin-bottom: 27px;
  margin-top: 48px;
}

.feedback__main-text {
  color: #fff;
  margin-bottom: 31px;
}

.feedback__user_agreement {
  margin-top: 20px;
  margin-bottom: 49px;
  width: 204px;
}

.feedback__img--figure {
  width: 1100px;
  height: 1193px;
  background-image: url(img/10.png);
  background-size: 100%;
  position: absolute;
  top: -320px;
  left: 550px;
}

.feedback__img--boy {
  width: 320px;
  height: 500px;
  background-image: url(img/11.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0px;
  right: 90px;
}

/*# sourceMappingURL=output.css.map */
